body{
    font-family: 'Open Sans', sans-serif;
}

.header-li > a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.header-ul{
    text-align: center;
}

.header-li{
    display: inline-block;
    margin: 53px 47px 52px;
}

.header-li:last-child{
    margin-right: 0;
}

.bg-section{
    background-image: url("./img/bg-1.png");
    padding: 138px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
}

.title{
    font-weight: bold;
    font-size: 72px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.button{
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 122px;
    margin-top: 14px;
    color: #162C38;
    font-weight: bold;
    font-size: 36px;
}

.p-section{
    background-color: rgb(93, 152,171);
    padding: 133px 280px;
}

.p-text{
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.main__text{
    position: relative;
    margin: 120px 0 200px;
}

.p__1{
    font-family: Roboto;
    max-width: 696px;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.item__1{
    content: "";
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    left: 0;
    top: -90px;
}

.item__2{
    content: "";
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    left: 0;
    top: 180px;
}

.item__3{
    content: "";
    width: 178px;
    height: 121px;
    background: #BFDEFB;
    position: absolute;
    right: 0;
    bottom: 1200px;
}

.container .p__2{
    position: relative;
}

.p__2{
    font-family: Roboto;
    max-width: 696px;
    position: relative;
    margin: 216px auto;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.p__2::before{
    content: "";
    position: absolute;
    background: #5C98AB;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    top: -40px;
    left: -40px;
}

.p__2::after{
    content: "";
    position: absolute;
    background: #BFDEFB;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    bottom: -75px;
    right: -130px;
}

.form__content{
    max-width: 650px;
    margin: 123px auto;
}

.input__form, .input{
    width: 100%;
}

.input__form{
    margin-bottom: 30px;
    position: relative;
}

.input{
    font-family: Open Sans;
    padding: 47px 0 12px 30px;
    border: 1px solid black;
    font-size: 36px;
    color: #000000;
    font-weight: normal;
    font-size: 36px;
    box-sizing: border-box;
    border-radius: 3%;
}

.input::placeholder{
    color: black;
}

.label{
    font-family: Open Sans;
    position: absolute;
    top: 10px;
    left: 30px;
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    padding: 14px 3px;
}

.button{
    background-color: #5C98AB;
    color: white;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    width: 647px;
    height: 92px;
    padding: 21px 0;
    border: none;
}