body{
    font-family: 'Open Sans', sans-serif;
}

.header-li > a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.header-ul{
    text-align: center;
}

.header-li{
    display: inline-block;
    margin: 53px 47px 52px;
}

.header-li:last-child{
    margin-right: 0;
}

.bg-section{
    background-image: url("./img/bg-1.png");
    padding: 138px 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.title{
    font-weight: bold;
    font-size: 72px;
    color: white;
    text-align: center;
}

.button{
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 122px;
    margin-top: 14px;
    color: #162C38;
    font-weight: bold;
    font-size: 36px;
}

.section_text{
    max-width: 1300px;
    margin-left: 70px;
    background-position: center;
}

.p-section{
    background-color: rgb(93, 152,171);
    padding: 133px 280px;
}

.p-text{
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}